body{
    display: inline;
    background-color: aliceblue;

}
.post{
    display: inline-block;
    width: 30%;

    padding: 2%;
    /*border: 2px solid red;*/
    background-color: white;
    margin: 2%;
    border-radius: 10%;
}
input{
    background-color: white;
    padding: 2%;
    border-radius: 8%;
}
button{
    padding: 2%;
    border-radius: 8%;
    border-color:aliceblue ;
}